.modal {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.modalMain {
	position:fixed;
	background: #eeeeee;
	width: 30%;
	height: auto;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);

	color: #0D0D0D; /*color of text*/
	border: 5px solid #D72828; /*border color of the modal*/
	text-align: center;
}


.modalMain p{
	color: #179038;
	display: block;

}

.displayBlock {
	display: block;
}

.displayNone {
	display: none;
}

.close {
	color: #D72828; /*this is the text color*/
	float: bottom;
	font-size: 20px;
	font-weight: normal;

}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
